tr:nth-child(1) {
     background-color: cornflowerblue;   
}


tr,td,th, table {
    border: 1 px solid lightblue;
    border-collapse: collapse;
}


td , th {
    padding:  3px 15px;
}

tr:nth-child(even) {
    background-color: aliceblue;
}